<ion-content [fullscreen]="true">
  <div *ngIf="spinnerShow" style="font-size: 24px; position: absolute; top: 0; left: 0; z-index: 9999; background-color: rgba(182, 55, 55, 0.514); width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; color: white">
    Cargando <ion-spinner color="light" name="circles"></ion-spinner>
  </div>  
  <ion-title style="text-align: center; margin-top: 5rem; color: rgb(255, 255, 255); text-decoration: underline; font-size: 24px;">
    Alarma de Robo
  </ion-title>
  <div *ngIf="toast">
    <div style="background-color: rgb(253, 253, 253);color: #db2b2b;width: 80%; padding: 2%; border-radius: 10px;
    position: absolute; top: 5%; left: 10%; font-size: 14px; z-index: 999999; text-align: center;">{{mensaje}}</div>
  </div>
  <div style="display: grid; justify-content: center; margin-top: 4rem; padding: 10px;">
    <div style="display: grid; justify-content: center; background-color: bisque; border-radius: 10px; padding: 10px;">
      <label style="color: #db2b2b; font-size: 18px; text-align: center;">Correo electrónico</label>
      <input type="email" style=" margin-top: 0.5rem; border: none; border-radius: 10px; padding: 1rem;color: #db2b2b; text-align: center;" [(ngModel)]='user.email'>
    </div>
  </div>
  <div style="display: grid; justify-content: center;">
    <div style="display: grid; justify-content: center; background-color: bisque; border-radius: 10px; padding: 10px;">
      <label style="color: #db2b2b; font-size: 18px; text-align: center;">Contraseña</label>
      <input type="password" style=" margin-top: 0.5rem; border: none; border-radius: 10px; padding: 1rem;color: #db2b2b; text-align: center;" [(ngModel)]='user.password'>
    </div>
  </div>
  <div style="display: flex; justify-content: center; margin: 2rem 0;">
    <button style="padding: 12px; font-size: 20px; border-radius: 10px;
    background-color: rgb(167, 82, 82); color: white; box-shadow: 1px 2px 15px " (click)="loginWithValidation()">Ingresar</button>
  </div>
  <div style="display: flex; justify-content: space-evenly; margin: 3rem 0;">
    <a (click)="userAutocomplete('valentino@gmail.com','123456')" class="customALogin" style="border-radius: 50%; width: 24%; display: grid;
     justify-content: center; align-items: center; background-color: transparent; color: gray; font-weight: bold; text-align: center;">
      <img style="cursor: pointer" src="../../../assets/imgUser1.png" alt="" width="100%">
      Valentino
    </a>
    <a (click)="userAutocomplete('thiago@gmail.com','000000')" class="customALogin" style="border-radius: 50%; width: 25%; display: grid; 
    justify-content: center; align-items: center; background-color: transparent; color: gray; font-weight: bold; text-align: center;">
      <img style="cursor: pointer" src="../../../assets/imgUser2.png" alt="" width="100%">
      Thiago
    </a>
    <a (click)="userAutocomplete('lili@gmail.com','654321')" class="customALogin" style="border-radius: 50%; width: 24%; display: grid;
     justify-content: center; align-items: center; background-color: transparent; color: gray; font-weight: bold; text-align: center;">
      <img style="cursor: pointer" src="../../../assets/imgUser3.png" alt="" width="100%">
      Lili
    </a>
  </div>
  <!-- <div style="width: 90%; height: 50%; background-color: rgba(172, 255, 47, 0.829); position: absolute;
  z-index: -1; border-radius: 0 50% 50% 0; rotate: 45deg; top: -2rem; right: 10rem"> </div>
   <div style="width: 80%; height: 35%; background-color: rgb(245 169 52 / 84%); position: absolute;
   z-index: -1; border-radius: 50% 0 0 50%; rotate: 20deg; bottom: 3rem; left: 10rem"> </div> -->
<ion-footer style="position: absolute; bottom: 10px; display: flex; justify-content: center; color: white;">by Lucía Cardozo PPS 4°B</ion-footer>
</ion-content>

